*.parquet
analytics_database/.env 
ingestion/sample_data_50_rows.csv
ingestion/.env
*.zip
analytics_database/reset_superset.sh
analytics_database/SETUP.md
sample_data_50_rows.csv
analytics_database/SETUP.md
sample_data_50_rows.csv
encrypted_customer_data_1M.parquet
ingestion/.DS_Store

